/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

$blue: #59b5e4;
$orange: #f6921e;
$avenir: Roboto, Arial, sans-serif;
$oswald: Oswald, serif;
a { text-decoration: none; }
html {
  font-size: 20px;
}
body {
  font-family: $oswald;
  font-size: 100%;
  font-weight: normal;
}
main p, .form h4, dd, article p, blockquote {
  font-family: $avenir;
}
header {
  height: 70px;
  display: table;
  box-sizing: border-box;
  width: 100%;
  a {
    display: table-cell;
    &.so {
      width: 35px;
      min-width: 30px;
      height: 20px;
      background: 50% 50% no-repeat;
    }
    &.fb {
      background-image: inline-image("fb.png");
    }
    &.in {
      background-image: inline-image("in.png");
    }
    &.tw {
      background-image: inline-image("tw.png");
    }
    &.gap {
    }
    &.logo {
      background: url(logo.png) 0 50% no-repeat;
      background-size: 100%;
    }
  }
}
.form {
  padding: 0 0 .5rem 0;
  margin-bottom: .5rem;
  text-align: center;
  background: url(portrait-sea.jpg) 50% 100% no-repeat;
  background-size: 100%;
  > * { color: #fff; }
  h1 {
    padding: .5rem 0;
  }
  h4 {
    font-size: .7rem;
  }
  form {
    max-width: 350px;
    padding: 1rem;
    background: rgba(255,255,255,.8);
    margin: .5rem auto 0;
    box-sizing: border-box;
    h3{
      color: $blue;
    }  
  }
  fieldset {
    margin-top: .5rem;
    padding: .5rem;
    background: rgba(255,255,255,.8);
  }
  input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: #f1f1f1;
    height: 32px;
    line-height: 32px;
    padding:  0 0 0 .5em;
    font-size: .7rem;
    margin-bottom: 24px;
  }
  button {
    border-radius: 20px;
    padding: 1em;
    background: #59b5e4;
    color: #fff;
    text-transform: uppercase;
    border:none;
  }
  h5, p, a {
    display: none;
  }
}
.video {
  margin: 1rem auto;
  display: block;
}
article {
  font-size: .7rem;
  padding: .5rem;
  line-height: 1.5;
  text-align: center;
  p {
    margin-bottom: 1.5em;
  }
}

main {
  background: url(portrait-lines.png) 50% 0 #f1f1f1;
  padding: 1rem;
  text-align: center;
  h2 {
    color: #59b5e4;
    font-size: 1.2rem;
    margin: 0 0 .5rem;
  }
  dl {
    text-align: left;
  }
  dt {
    color: $blue;
    font-size: .8rem;
    margin: 0 0 .25rem 0;
    position: relative;
    padding-left: 90px;
    &:before {
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: 0;
      width: 77px;
      height: 77px;
      content: '';
      background: inline-image("include-1.png") 50% 50% no-repeat #fff;
    }
    &:nth-of-type(2):before {
      background-image: inline-image("include-2.png");
    }
    &:nth-of-type(3):before {
      background-image: inline-image("include-3.png");
    }
    &:nth-of-type(4):before {
      background-image: inline-image("include-4.png");
    }
  }
  dd {
    padding: 0 0 0 90px;
    font-size: .7rem;
    min-height: 77px;
    color: #444;
    margin: 0 0 .9rem 0;
  }

  p {
    font-size: .9rem;
  }
  h3 {
    margin: .5rem;
    color: #f6921e;
    font-size: 1.1rem;
  }
}
.test {
  padding: 1.5rem;
  color: #4d4d4d;
  h2 {
    font-size: 1.2rem;
    margin: 0 auto 1rem auto;
    color: $blue;
  }
  hr {
    height: 0;
    border: none;
    border-bottom: 2px solid #4d4d4d;
    width: 111px;
    margin: 1rem auto;
  }
  blockquote {
    font-style: italic;
    line-height: 1.5;
    font-size: .7rem;
    &:before,
    &:after {
      width: 111px;
      height: 111px;
      border-radius: 50%;
      display: block;
      margin: .5rem auto;
      background: red;
      display: none;
    }
  }
  cite {
    font-style: normal;
    display: block;
    margin: 1rem auto .5rem;
  }
}
footer {
  padding: 30px 26px;
  color: #4d4d4d;
  text-align: center;
  font-family: $avenir;
  h2 {
    color: $blue;
    font-family: $oswald;
    line-height: 1;
    margin: 0 0 1rem;
  }
  p {
    font-size: .7rem;
    color: #4d4d4d;
    line-height: 1.5;
  }
  h3 {
    color: $orange;
    font-size: .9rem;
    font-family: $avenir;
    margin: 1rem 0;
  }
  a {
    background: $orange;
    padding: .9rem;
    color: #fff;
    line-height: 1.5;
    font-family: $avenir;
    display: block;
  }
}
section.thankyou {
  display: none;
}
html {
  height: 100%;
}
body.thankyou {
  height: 100%;
  position: relative;
  .form > *, article, main, iframe, .test , footer {
    display: none;
  }
  .form {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    background-size: cover;
    top: 120px;
    > .thankyou {
      display: block;
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    padding: 0 0 0 1rem;
    a {
      &.logo {
        max-width: 150px;
        width: 50%;
      }
    }
  }
  article {
    background: #fff;
    h5, h5 ~ * {
      display: none;
    }
  }
  .video {
    width: 80%;
    height: 150px;
    height: 30vh;
  }
  .form {
    form {
      display: inline-block;
      width: 80%;
      min-width: 250px;
      max-width: 400px;
    }
    h5 {
      background: #f6921e;
      padding: .5rem;
      color: #fff;
      font-size: .8rem;
      box-sizing: border-box;
      margin: 1rem auto;
      display: inline-block;
      position: relative;
      z-index: 100;
      max-width: 400px;
      &:before, &:after {
        z-index: -1;
        bottom: 0;
        left: 0;
        background: #f6921e;
        content: '';
        width: 51%;
        height:100%;
        position: absolute;
        transform-origin: 0 100%;
        transform: rotate(10deg);
      }
      &:after {
        transform-origin: 100% 100%;
        transform: rotate( -10deg);
        left: initial;
        right: 0;
      }
    }
  }
  .test {
    background: #f2f9fd;
    text-align: center;
    h2 {
      font-size: 1.2rem;
      margin: 0 auto 1rem auto;
      color: $blue;
    }
    hr {
      height: 0;
      border: none;
      border-bottom: 2px solid #4d4d4d;
      width: 111px;
      margin: 1rem auto;
    }
    blockquote {
      &:after {
        content: '';
      }
    }
  }
  footer {
    background: url(portrait-lines-footer.png) 50% 0 no-repeat #fff;
  }
  body.thankyou {
    .form {
      top: 70px;
    }
  }
}
$width: 1220px;
@media screen and (min-width: 1200px) {
  header {
    height: 120px;
    width: $width;
    margin: 0 auto;
    padding: 0;
    a.logo {
      max-width: initial;
      width: 250px;
    }
  }
  .form {
    padding: 2rem 0;
    background: url(land-sea.jpg) 50% 100% no-repeat;
    background-size: cover;
    text-align: center;
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h1,h4 {
      width: 500px;
      margin: 0 auto;
      display: block;
    }
    h4 {
      font-size: 1.3rem;
      margin-bottom: 40px;
    }
    form {
      width: 355px;
      h3 {
        font-size: 1.5rem;
        margin: 0 0 1em;
      }
      input {
        height: 44px;
        margin-bottom: 35px;
      }
    }
  }
  .video {
    width: 910px;
    height: 600px;
  }
  article {
    font-size: 1.2rem;
    background: url(land-gray-lines.png) 50% 0 no-repeat #fff;
    background-size: cover;
    p {
      width: $width;
      margin-left:auto;
      margin-right:auto;
      &:last-of-type {
        font-size: 1rem;
      }
    }
    h5 {
      font-size: 1.5rem;
      background: $orange;
      color: #fff;
      border-radius: 20px;
      display: inline-block;
      padding: 0 2rem;
      margin: 0 0 1rem;
    }
    h5 ~ * {
      color: #000;
      font-family: $avenir;
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
  blockquote {
    &:before {
      content: '';
    }
  }
  main {
    padding: 40px 0;
    background: url(land-white-lines.png) 50% 0 no-repeat #f1f1f1;
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    dl {
      width: 880px;
      margin: 0 auto;
    }
    dt {
      height: 30px;
      width: 250px;
      margin-bottom: 0;
    }
    dd {
      margin-bottom: 0;
      height: 140px;
      width: 250px;
    }
    dd:nth-of-type(2) ~ * {
      margin-left: 440px;
    }
    dt:nth-of-type(3) {
      margin-top: -340px;
    }
    p, h3 {
      width: 700px;
      margin: 0 auto;
    }
    h3 {
      color: $orange;
      margin-top: 1rem;
      font-family: $avenir;
    }
  }
  .test {
    background: #f2f9fd;
    padding: 40px 0;
    text-align: center;
    h2 {
      font-size: 2rem;
      margin: 0 0 40px 0;
    }
    blockquote {
      width: $width;
      padding: 0 0 0 230px;
      padding: 0;
      margin: 0 auto 70px auto;
      position: relative;
      text-align: left;
      font-size: 0.9rem;
      line-height: 1.5;
      p {
        margin-bottom: 1rem;
      }
      &:before {
        left: 0;
        position: absolute;
        width: 188px;
        height: 188px;
      }
    }
    hr {
      display: none;
    }
  }
  footer {
    background: url(land-lines.png) 50% 0 no-repeat;
    text-align: center;
    padding: 80px 0;
    h2 {
      font-size: 2rem;
    }
    p {
      white-space: nowrap;
      font-size: .9rem;
    }
    h3 {
      font-size: 1rem;
    }
    a {
      display: inline-block;
    }
  } 
}
